/* Navbar Styling */
.nav-container {
  background-color: var(--bg-nav);
  position: fixed;
  width: var(--space-full);
  border-bottom: 0.1px solid var(--action-secondary);
}
.nav-container a {
  text-decoration: none;
  color: var(--text-main);
  font-size: var(--text-base);
  transition: var(--transition-ease-in);
}
.nav-container a:hover {
  color: var(--text-heading);
}
.nav-flex {
  margin-left: auto;
}

/* Hero Section Styling */

.hero-section {
  text-align: center;
  padding: var(--space-1-10) var(--space-4);
  background-color: var(--bg-hero);

  font-size: var(--text-card-heading);
  background-image: linear-gradient(
    180deg,
    var(--bg-body) 0%,
    var(--bg-nav) 100%
  );
}

/* About Section Styling */
.about-section {
  flex-wrap: wrap;
  text-align: center;
  background-color: var(--bg-nav);
  padding: var(--space-12) var(--space-1-10);
  gap: var(--space-2);
}
.about-section article {
  background-color: var(--bg-body);
  border: 2px solid var(--action-secondary);
  border-radius: var(--radius-lg);
  padding: var(--space-8);
  height: 350px;
  cursor: pointer;
  transition: var(--transition-ease-in-out);
}

.about-section article.description-box {
  background-color: white;
  padding: var(--space-8) var(--space-24);
  height: (--space-half);
  cursor: default;
}
/* Destiny States Section Styling */

/* Calculator Section Styling */

/* Footer Styling */
.footer {
  background-color: var(--text-main);
  color: var(--text-inverse);
  padding: var(--space-10) var(--space-5);
  text-align: center;
}

.footer-tagline {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-2);
  font-family: var(--font-body);
  font-size: var(--text-btn);
  margin-bottom: var(--space-5);
}

.footer-icon {
  fill: var(--action-primary);
  flex-shrink: 0;
  height: 20px;
  width: 20px;
}

.footer-copyright {
  font-size: var(--text-small);
  opacity: var(--opacity-md);
}

@media (max-width: 480px) {
  .footer-tagline {
    flex-direction: column;
    gap: var(--space-4);
    margin-bottom: var(--space-8);
  }
}

/*Body Styling*/
.body {
  font-family: var(--font-body);
  color: var(--text-main);
  font-size: var(--text-base);
}
