/* Navbar Styling */
.nav-container {
  background-color: var(--bg-nav);
}
.nav-container a {
  text-decoration: none;
  color: var(--text-main);
  font-size: var(--text-base);
  transition: var(--transition-ease-in);
}
.nav-container a:hover {
  color: var(--text-heading);
}
.nav-flex {
  margin-left: auto;
}

/* Hero Section Styling */

.hero-section {
  text-align: center;
  padding: var(--space-8) var(--space-4);
  background-color: var(--bg-hero);

  font-size: var(--text-card-heading);
  background-image: linear-gradient(
    180deg,
    var(--bg-body) 0%,
    var(--bg-nav) 100%
  );
}

/* About Section Styling */

/* Destiny States Section Styling */

/* Calculator Section Styling */

/* Footer Styling */

/*Body Styling*/
.body {
  font-family: var(--font-body);
  color: var(--text-main);
  font-size: var(--text-base);
}
